/*Main-Body*/
.Main_Body_About_Us {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 70px;
  left:0%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  display: inline-block;
  box-shadow:
    inset 0 0 10px #fff,
    inset 0px 0 20px #f0f,
    inset 0px 0 20px #0ff,
    inset 0px 0 40px #f0f,
    inset 0px 0 40px #0ff,
    0 0 10px #fff,
    0px 0 20px #f0f,
    10px 0 20px #0ff;
  transform-style: preserve-3d;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}
.card:hover {
  transition-duration: 150ms;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
  transform-style: preserve-3d;
}
.card-body {
  transform-style: preserve-3d;
}
.card-title {
  transform-style: preserve-3d;
  transform: translateZ(50px);
}
.card-text {
  transform-style: preserve-3d;
  font-size: 20px;
  transform: translateZ(30px);
  transform-style: preserve-3d;
}
.Message_Head {
    margin-top: 70px;
}
#Footer_div {
  position: relative;
}

.btn-linkedin {
  background: #0E76A8;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-linkedin:link, .btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
  background: #084461;
  color: #fff;
}
